{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Questions" %}{% endblock %}


{% block head %}
  <link href="{% static 'css/qa.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'news:list' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Q.A' %}</li>
    </ol>
  </nav>
  <div class="page-header">
    <a href="{% url 'qa:download_all_questions' %}" class="btn btn-primary pull-right" id = 'download'>
      <i class="fa fa-pencil" id="download_all_questions" aria-hidden="true"></i> {% trans "Initiation" %}
    </a>
  </div>
  <p id = "task_id">{{task_id}}</p>
  <p id = "result">{{status}}</p>

  <p id="status">
    <button type="button" id ="bt" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-down"></span> trigger download</button> 
    {% csrf_token %}
  </p>
  
  {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // set csrf header
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        function askRedis(){  
            $.ajax({
                    type: "POST",
                    url: '{% url "qa:get_status" %}',
                    data: {
                      'task_id': $('#task_id').text(),
                    },
                    success: function (data) {
                      $("#result").text(data.status)
                      },
                  });
            if($("#result").texts == "PENDING"){
              setTimeout(askRedis, 50);
            }
            else{
              $("#status").show();
              $("#download").hide();
                window.location = '/qa/download_files/'
            }     
        }
        $("#task_id").hide();
        $("#result").hide();
        $("#bt").click(function(){ 
          askRedis()
        });  
    </script>  
  {% endblock javascript %}
{% endblock content %}
