{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Questions" %}{% endblock %}


{% block head %}
  <link href="{% static 'css/qa.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'news:list' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Q.A' %}</li>
    </ol>
  </nav>
  <div class="page-header">
  </div>
  <p id = "task_id">{{task_id}}</p>
  <p id = "result">{{status}}</p>

  <p id="status">
    <button type="button" id ="bt" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-down"></span> trigger download</button> 
    {% csrf_token %}
  </p>

  
  <h2 id = 'wait-message'>your download will start in few seconds</h2>
  
  {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // set csrf header
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $('#wait-message').hide()
        $('#status').show()
        // function getDownloadStatus(){  
        //     $.ajax({
        //             type: "POST",
        //             url: '{% url "qa:get_status" %}',
        //             data: {
        //               'task_id': $('#task_id').text(),
        //             },
        //             success: function (data) {
        //               $("#result").text(data.status)
        //               if (data.status == "PENDING")
        //               {
        //                 console.log(data.status)
        //                 setTimeout(getDownloadStatus , 1000);
        //               }
        //               else{
        //                 window.location = '/qa/download_files/'
        //               }
        //             },
        //         });
        //     }
        $("#task_id").show();
        $("#result").hide();  
        $("#bt").click(function(){ 
          console.log('clicked')
          // $('#wait-message').show();
          function getDownloadStatus(){  
            $.ajax({
                    type: "POST",
                    url: '{% url "qa:get_status" %}',
                    data: {
                      'task_id': $('#task_id').text(),
                    },
                    success: function (data) {
                      $("#result").text(data.status)
                      if (data.status == "PENDING")
                      {
                        console.log(data.status)
                        setTimeout(getDownloadStatus , 1000);
                      }
                      else{
                        window.location = '/qa/download_files/'
                      }
                    },
                });
            }
          getDownloadStatus()
        });  
        $('#wait-message').hide()
    </script>  
  {% endblock javascript %}
{% endblock content %}
